[user]
    email = www@glench.com
    name = Glen Chiacchieri
[alias]
    st = status
    co = checkout
    ci = commit -va
    di = diff
    unadd = reset HEAD
    clear = checkout --
    p = push
    po = push origin
    pom = push origin master
[core]
    excludesfile = ~/.gitignore
